body {
	background-color: white;
	text-align: center;
}
h1 {
	background-color: white;
	color: black;
	font-family: Monospace;
	text-align: center;
}
p {
	font-family: Monospace;
	text-align: center;
}

ui {
	font-family: Monospace;
	text-align: center;
}
